.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 87px;
  align-items: center;
  width: 100%;
  margin-top: 13px;
  font-family: "Montserrat", serif;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.resultCount {
  font-size: 16px;
  line-height: 19.5px;
  padding-left: 40px;
  width: 100%;
  max-width: 626px;
  text-align: left;
}
